MAAS_API_KEY=3og8Y_qcFDoSoxL6CxrUpm_jt2rhSxdfGQjh-iQf3T211Xj7RLuHyQZdAfsvW8v3uKcvJ8GXIQk6YDneufTi6w
MAAS_BASE_URL=https://api.modelarts-maas.com/v1/
MAAS_MODEL=deepseek-v3.2
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_IMAGE_MODEL=gpt-image-2
